@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo
{
  position: relative;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
}

header .navigation
{
  position: relative;
  display: flex;
}

header .navigation li
{
  list-style: none;
}

header .navigation li a
{
  display: inline-block;
  color: #fff;
  margin-right: 40px;
  text-decoration: none;
}

header .navigation li a:hover
{
color: #03a9f4;
}

.content
{
  max-width: 2100px;

}

.content .contentBx
{
  padding-left: 300px;
  padding-top: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

.content .contentBx h2
{
  font-size: 4em;
  color: #fff;
  line-height: 1em;
}

.content .contentBx p
{
  font-size: 1.5em;
  color: #fff;
  font-weight: 300;
  margin: 20px 0;
  text-align: center;
}

.content .contentBx a
{
  display: inline-block;
  padding: 10px 30px;
  background: #03a9f4;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.sci
{
  position: absolute;
  bottom: 30px;
  display: flex;
  padding-left: 90px;
  padding-bottom: 20px;
}

.sci li
{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci li a
{
  position: relative;
  display: inline-block;
  margin-right: 20px;
  filter: invert(62%) sepia(59%) saturate(4928%) hue-rotate(159deg) brightness(92%) contrast(101%);
  transform: scale(0.5);
}

#copyButton {
    border: none;
    color: white;
    background-color: #0095ff;
    padding: 16px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    width: 95%;
    max-width: 550px;
    border-radius: 10px;
}

#copyButton:hover {
    background-color: #757575;
    color: white;
}

.btn1{
    color: #03a9f4;
}
